
.jumbotron{
    background-color: rgba(255,255,255,0.6);
    border-radius: 0;
}

.jumbotron h1{
    color: black;
}

.img-profile{
    border-radius: 180px;
    width: 150px;
    height: 150px;
    margin: auto;
}

.column-friends{
    padding: 8px;
}

.input-group{
    width: 80%;
}

.form-profile{
    width: 65%;
    margin: auto;
}

.img-profile-friend{
    width: 60px;
    height: 60px;
}

.friend{
    float: left;
}

.container-information{
    box-shadow: 0 0 2px black;
    border-radius: 2px;
    background-color: rgba(0,0,0,0.6);
}

.container-friends{   
    box-shadow: 0 0 2px black;
    border-radius: 2px;
    background-color: rgba(0,0,0,0.6);
}

.container-friends > h4, .container-information > h4{
    padding: 10px;
}


ngb-rating{
    font-size: 1.5rem;
}

.half {
    position: absolute;
    display: inline-block;
    overflow: hidden;
    color: #00ffea;
  }

  .eventJoined{
    box-shadow: 0 0 2px black;
    border-radius: 2px;
    background-color: rgba(0,0,0,0.6);
  }

  .card-title{
      color: #00ffea;
  }

.modal-content{
    background-color: rgba(0, 0, 0, 0.85);
}

.card-f{
    background-color: rgba(11, 53, 74, 0.5);
}

.card-header{
    background-color: rgba(11, 53, 74, 0.5);  
}

a{
    text-decoration: none;
}

a:hover{
    font-weight: bolder;
    text-shadow: 0px 0px 4px blue;
}

.card-f:hover{
    cursor: pointer;
    box-shadow: 0 0 4px white;
}