<div class="container-fluid" *ngIf="user">

    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-md-4 text-center">
                    <div class="img-profile ">
                        <img [src]="getPicture()" class="img-profile">
                        <input *ngIf="editarUsuario" type="file" class="form-control mt-2"
                            (change)="selectFile($event)">
                    </div>
                </div>
                <div class="col-md-8">
                    <h1 class="display-2" *ngIf="!editarUsuario">{{user.firstName}} {{user.lastName}}</h1>
                    <h1><input class="text-dark text-center" type="text" *ngIf="editarUsuario"
                            placeholder="{{user.firstName}}" [(ngModel)]="firstName" name="firstName"></h1>
                    <h1><input class="text-dark text-center" type="text" *ngIf="editarUsuario"
                            placeholder="{{user.lastName}}" [(ngModel)]="lastName" name="lastName"></h1>
                </div>
            </div>
        </div>
        <div class="text-right">
            <button class="btn btn-light" *ngIf="user && isOrganizer()" (click)="editUser()">Editar</button>
        </div>
    </div>


    <div class="container mt-2 mb-4">
        <div class="row mb-2">
            <div class="col-md-4">
                <div class="row">
                    <div class="container container-information">
                        <h4 class="ml-3">Información</h4>
                        <p *ngIf="!editarUsuario">Dirección: {{user.address}}</p>
                        <p *ngIf="!editarUsuario">Cumpleaños: {{user.birthday |  date : 'dd-MM-yyyy'}}</p>
                        <p *ngIf="!editarUsuario">Genero: {{user.gender}} </p>
                        <p>
                            Reputación organizador:
                            <ngb-rating [max]="5" [(rate)]="user.reputationOrganizer" [readonly]="true">
                                <ng-template let-fill="fill" let-index="index">
                                    <span class="star" [class.filled]="fill === 100">
                                        <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
                                    </span>
                                </ng-template>
                            </ngb-rating>
                        </p>
                        <p>
                            Reputación participante:
                            <ngb-rating [max]="5" [(rate)]="user.reputationParticipant" [readonly]="true">
                                <ng-template let-fill="fill" let-index="index">
                                    <span class="star" [class.filled]="fill === 100">
                                        <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
                                    </span>
                                </ng-template>
                            </ngb-rating>
                        </p>
                        <!--EDIT USER-->
                        <p *ngIf="editarUsuario">Dirección: <input type="text" class="form-control"
                                placeholder={{user.address}} [(ngModel)]="address" name="address"></p>
                        <p *ngIf="editarUsuario">Cumpleaños: <input type="date" [(ngModel)]="birthDay" name="birthDay"
                                class="form-control"></p>
                        <p *ngIf="editarUsuario">Genero:
                            <label>Género</label>
                            <select class="form-control" (change)="selectChangeHandler($event)">
                                <option></option>
                                <option value="Mujer">Mujer</option>
                                <option value="Hombre">Hombre</option>
                                <option value="Otro">Otro</option>
                            </select></p>
                        <div class="text-right">
                            <button *ngIf="editarUsuario" class="btn btn-light mb-2"
                                (click)="modifyProfile()">Guardar</button>
                        </div>

                    </div>
                </div>
                <div class="row mt-4 mb-4">
                    <div class="container container-friends">
                        <h4 class="ml-3">Amigos</h4>
                        <div class="row">

                            <div *ngFor="let friend of friends">
                                <a class="friend ml-4 mt-2" [routerLink]="['/profile/', friend.id]" href="#">
                                    <img [src]="getFriendPicture(friend.picture)" class="img-profile-friend rounded" />
                                    <p>{{ friend.firstName }}</p>
                                </a>
                            </div>
                        </div>
                        <div class="row mt-2 mb-2">
                            <div class="col-12 text-right">
                                <a href="" data-toggle="modal" data-target="#modalFriends">
                                    Ver todos
                                </a>
                            </div>

                        </div>


                    </div>
                </div>
            </div>
            <!--<div class="col-md-8">
                <div class="container">
                    <div *ngFor="let e of eventsJoined">

                        <div class="card text-white eventJoined mb-3">
                            <div class="card-header">
                                {{ e.sport }}
                                <small class="float-right">
                                    {{ e.startDate  |  date : 'dd-MM-yyyy'}}
                                </small>
                            </div>
                            <div class="card-body">
                                <p class="card-text">{{e.address}}</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>-->
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalFriends" tabindex="-1" aria-labelledby="modalFriends" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalFriends">Amigos</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div data-spy="scroll" data-target="#navbar-example2" data-offset="0">
                    <div class="row">
                        <div class="col-md-4" *ngFor="let f of friends">
                            <div class="card card-f mb-3" [routerLink]="['/profile/', f.id]">
                                <div class="card-body ">
                                    <div class="row">
                                        <div class="col-4">
                                            <img [src]="getFriendPicture(f.picture)"
                                                class="img-profile-friend rounded" />
                                        </div>
                                        <div class="col-8">
                                            {{ f.firstName }} {{ f.lastName}}
                                            <ngb-rating [max]="5" [(rate)]="f.reputationParticipant" [readonly]="true">
                                            </ngb-rating>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
