.container-fluid{
    height: 100vh;
    overflow: hidden;
}

.container-login{
    margin-top: 20% !important;
}

.form-login{
    width: 75%;
    margin: auto;
}

h1, i{
    color: black;
}

.row{
    box-shadow: 0 0 6px 1px black;
    height: 100vh;
}

.col-formulario{
    background-color: white;
}

.col-imagen{
    background-image: url('../../../assets/images/1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    position: relative;
}

.overlay{
    background-color: rgba(0, 171, 184, 0.5);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

form{
    padding: 8px;
}