.container-fluid{
    height: 100vh;
    overflow: hidden;
}

.container{
    height: 80vh;
}

h1, i{
    color: black;
}

.row{
    box-shadow: 0 0 6px 1px black;
    margin-top: 5%;
    height: 80vh;
}

.col-md-5{
    background-color: white;
}

.col-md-7{
    background-image: url('../../../assets/images/pjvic9eq4vt41.webp');
    background-size: cover;
    background-repeat: no-repeat;
}

form{
    padding: 8px;
}