.container-fluid{
    height: 100%;
}

.list-group-item, .card{
    background-color: rgba(0,0,0,0.6);
    color: white;
}

.titulo-en-proceso{
    color: #00ffea;
}

.titulo-finalizado{
    color: brown;
}