<div class="container-fluid">

    <div class="container mt-5">

        <div class="row">
            <div class="col-4">
                <div class="list-group" id="list-tab" role="tablist">
                    <a class="list-group-item list-group-item-action active" id="list-Creados-list" data-toggle="list"
                        href="#list-Creados" role="tab" aria-controls="Creados">Creados</a>
                    <a class="list-group-item list-group-item-action" id="list-Unidos-list" data-toggle="list"
                        href="#list-Unidos" role="tab" aria-controls="Unidos">Participando</a>
                    <a class="list-group-item list-group-item-action" id="list-Solicitudes-list" data-toggle="list"
                        href="#list-Solicitudes" role="tab" aria-controls="Solicitudes">Solicitudes enviadas</a>
                </div>
            </div>
            <div class="col-8">
                <div class="tab-content" id="nav-tabContent">

                    <div class="tab-pane fade show active" id="list-Creados" role="tabpanel" *ngIf="eventsCreated">

                        <div *ngFor="let evento of eventsCreated">
                            <div class="card mb-2">
                                <div class="card-header">
                                    {{evento.sport}}
                                    <small class="float-right">{{evento.createdAt | date : 'dd-MM-yyyy'}}</small>
                                </div>

                                <div class="card-body">
                                    <p class="card-text">With supporting text below as a natural lead-in to additional
                                        content.
                                    </p>
                                    <div class="text-right">
                                        <a class="btn btn-sm btn-primary mr-3" (click)="getEvent(evento.id)">Editar</a>
                                        <a class="btn btn-sm btn-danger" (click)="deleteEvent(evento.id)">Eliminar</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="list-Unidos" role="tabpanel" aria-labelledby="list-Unidos-list" *ngIf="eventsJoined">

                        <div *ngFor="let evento of eventsJoined">
                            <div class="card mb-2">
                                <div class="card-header">
                                    {{evento.sport}}
                                    <small class="float-right">{{evento.createdAt | date : 'dd-MM-yyyy'}}</small>
                                </div>

                                <div class="card-body">
                                    <p class="card-text">With supporting text below as a natural lead-in to additional
                                        content.
                                    </p>
                                    <div class="text-right">
                                        <a class="btn btn-sm btn-danger mr-3" *ngIf="evento.organizer.id != id" (click)="leaveEvent(evento.id)">Cancelar</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="list-Solicitudes" role="tabpanel" aria-labelledby="list-Solicitudes-list" *ngIf="eventsApplied">
                        <div *ngFor="let evento of eventsApplied">
                            <div class="card mb-2">
                                <div class="card-header">
                                    {{evento.sport}}
                                    <small class="float-right">{{evento.createdAt | date : 'dd-MM-yyyy'}}</small>
                                </div>

                                <div class="card-body">
                                    <p class="card-text">With supporting text below as a natural lead-in to additional
                                        content.
                                    </p>
                                    <div class="text-right">
                                        <a class="btn btn-sm btn-warning mr-3" (click)="cancelRequest(evento.id)">Cancelar solicitud</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End tab-content-->
            </div>
            <!--End col-->
        </div>
        <!--End row-->
    </div>