<div class="container-fluid" *ngIf="user">
    <div class="row text-center">
        <div class="col-2 mt-5">

            <div class="row">
                <div class="col-5"></div>
                <div class="col-2">

                    <div class="img-profile text-center">
                        <img [src]="getPicture()" class="img-profile rounded">
                        <input type="file" class="form-control mt-2" (change)="selectFile($event)">
                        <button class="btn btn-info btn-block mt-2" (click)="uploadImage()">Subir</button>
                    </div>

                </div>
                <div class="col-5"></div>
            </div>
        </div>
        <!-- END COL-3 -->
        <div class="col-10 mt-5">

            <div class="container">
                <form class="form-profile" *ngIf="user != undefined">
                    <div class="form-group text-left">
                        <label class=" col-form-label">Nombre</label>
                        <input type="text" class="form-control" placeholder={{user.firstName}} [(ngModel)]="firstName" name="firstname">
                    </div>
                    <div class="form-group text-left">
                        <label class="col-form-label">Apellidos</label>
                        <input type="text" class="form-control" placeholder={{user.lastName}} [(ngModel)]="lastName" name="lastname">
                    </div>
                    <div class="form-group text-left">
                        <label class="col-form-label">Descripción</label>
                        <textarea class="form-control" placeholder={{user.description}} [(ngModel)]="description" name="description"></textarea>
                    </div>
                    <div class="form-group text-right">
                        <button class="btn btn-warning" (click)="modifyProfile()" >Cambiar</button>
                    </div>
                </form>
            </div>
        </div>
        <!-- END COL-9 -->
    </div>
    <!-- END ROW-->
</div>