# compiled output
/dist
/tmp
/out-tsc
# Only exists if Bazel was run
/bazel-out

# dependencies
*/node_modules

# profiling files
*/chrome-profiler-events*.json
*/speed-measure-plugin*.json

# IDEs and editors
*/.idea
*/.project
*/.classpath
*/.c9/
*/*.launch
*/.settings/
*/*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*
.vscode

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
=======
*/HELP.md
*/target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
*/.apt_generated
*/.classpath
*/.factorypath
*/.project
*/.settings
*/.springBeans
*/.sts4-cache

### VS Code ###
*/.vscode/

*/images-storage/*

### ANDROID ###

*.iml
.gradle
*/local.properties
*/.idea/*
*/.idea/caches
*/.idea/libraries
*/.idea/modules.xml
*/.idea/workspace.xml
*/.idea/navEditor.xml
*/.idea/assetWizardSettings.xml
*/.DS_Store
*/build
*/captures
*/.externalNativeBuild
*/.cxx
*/.log
*/.settings
*/app/.settings
*/app/.classpath
*/app/.project

*/com_crashlytics_export_strings.xml


API/src/main/resources/application.properties