.container-fluid{
    height: 100%;
}

.img-profile{
    width: 45px;
    height: 45px;
    border-radius: 180%;
}

thead{
    background-color: rgba(0,0,0,0.6) !important;
}

table{
    background-color: rgba(0,0,0,0.3) !important;
}

.btn-mostrar{
    background-color: #00ffea !important;
}