<nav class="navbar navbar-expand-lg navbar-dark bg-dark" *ngIf="showHead">
  <a class="navbar-brand" href="#"><i class="fas fa-volleyball-ball"></i> SocialSports</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler"
    aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarToggler">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item" [ngClass]="{ active: isActive('/')}">
        <a class="nav-link" [routerLink]="['/home']" href="#">Inicio</a>
      </li>
      <li class="nav-item" [ngClass]="{ active: isActive('/myevents')}">
        <a class="nav-link" [routerLink]="['/myevents']" href="#">Mis eventos</a>
      </li>
      <li class="nav-item" [ngClass]="{ active: isActive('/community')}">
        <a class="nav-link" [routerLink]="['/community']" href="#">Comunidad</a>
      </li>
    </ul>

    <ul class="nav navbar-nav navbar-right">

      <form class="form-inline mr-5">
        <input class="form-control mr-1 border-0" type="search" placeholder="Search">
        <button class="btn-main btn btn-info my-sm-0 border-0" type="submit"><i class="fas fa-search"></i></button>
      </form>

      <li class="dropdown mr-3 mt-2 mb-2" *ngIf="friendRequests">
        <a href="#" data-toggle="dropdown"><i class="fas fa-user-friends"></i><span
            class="ml-1 badge badge-secondary">{{showFriendNotifications()}}</span></a>
        <ul class="dropdown-menu menu-notifications dropdown-menu-right">
          <div *ngFor="let f of friendRequests">
              <a href="#" class="dropdown-item">
                <li>
                  <div class="row mt-2">
                    <div class="col-4 text-center">
                      <img [src]="f.picture" *ngIf="f.picture" class="profile-img">
                      <img src="../../../assets/images/45x45.png" *ngIf="!f.picture" class="profile-img">
                    </div>
                    <div class="col-8 text-left">
                      {{ f.firstName }} quiere ser tu amigo/a
                    </div>
                  </div>
                  <div class="mt-1 row float-right">
                    <button class="btn btn-sm btn-success ml-2"
                      (click)="acceptFriendRequest(f.id)">Acceptar</button>
                    <button class="btn btn-sm btn-danger ml-2"
                      (click)="cancelFriendRequest(f.id)">Cancelar</button>
                  </div>
                </li>
              </a>
          </div>
        </ul>
      </li>

      <li class="dropdown mr-5 mt-2 mb-2" *ngIf="events">
        <a href="#" data-toggle="dropdown"><i class="fas fa-bell"></i><span
            class="ml-1 badge badge-secondary">{{showNotifications()}}</span></a>
        <ul class="dropdown-menu menu-notifications dropdown-menu-right">
          <div *ngFor="let e of events">
            <div *ngFor="let applicant of e.applicants">
              <a href="#" class="dropdown-item">
                <li>
                  <div class="row mt-2">
                    <div class="col-3">
                      <img [src]="applicant.picture" *ngIf="applicant.picture" class="profile-img">
                      <img src="../../../assets/images/45x45.png" *ngIf="!applicant.picture" class="profile-img">
                    </div>
                    <div class="col-9 text-center">
                      {{ applicant.firstName }} quiere unirse a {{ e.sport }} {{ e.address }}
                    </div>
                  </div>
                  <div class="mt-1 row float-right">
                    <button class="btn btn-sm btn-success ml-2"
                      (click)="acceptUserRequest(e.id, applicant.id)">Acceptar</button>
                    <button class="btn btn-sm btn-danger ml-2"
                      (click)="cancelUserRequest(e.id, applicant.id)">Cancelar</button>
                  </div>
                </li>
              </a>
            </div>
          </div>
        </ul>
      </li>

      <li class="dropdown mr-2">
        <a href="#" data-toggle="dropdown" role="button">
          <img [src]="picture" *ngIf="picture" class="profile-img">
          <img src="../../../assets/images/45x45.png" *ngIf="picture == null || this.picture.length <= 0"
            class="profile-img">
        </a>
        <ul class="dropdown-menu dropdown-menu-right">
          <a href="#" class="dropdown-item" [routerLink]="['profile/', id]">
            <li>Perfil</li>
          </a>
          <a href="#" class="dropdown-item" (click)="logout()">
            <li>Salir</li>
          </a>
        </ul>
      </li>
    </ul>
  </div>
</nav>