<div class="container-fluid" *ngIf="myFriends && users">
    <div class="row mt-5">
        <div class="col-md-4" *ngFor="let user of users">

            <ul class="user-card list-unstyled">
                <li class="media">
                    <img class="img-user rounded mr-3" [src]="user.picture" *ngIf="user.picture" alt="image">
                    <img src="../../../assets/images/95x95.png" *ngIf="!user.picture" class="img-user rounded mr-3">
                    <div class="media-body">
                        <h5 class="mt-0 mb-1">{{user.firstName}} {{user.lastName}}</h5>
                        <p *ngIf="user.address">{{ user.address }}</p>
                        <p *ngIf="user.address == null">Sin dirección</p>
                        <div class="text-left mb-2">
                            <ngb-rating [max]="5" [(rate)]="user.reputationParticipant" [readonly]="true">
                                <ng-template let-fill="fill" let-index="index">
                                    <span class="star" [class.filled]="fill === 100">
                                        <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
                                    </span>
                                </ng-template>
                            </ngb-rating>
                        </div>
                        <div class="float-right row">

                            <div *ngIf="!IsUserMyFriend(user.id)">
                                <button class="btn btn-sm btn-success mr-1"
                                *ngIf="user.id != id && !IsInMyRequestsSent(user.id) && !IsInMyRequestsReceived(user.id)" (click)="sendFriendRequest(user.id)">Añadir
                                amigo</button>

                                <button class="btn btn-sm btn-dark mr-1" *ngIf="IsInMyRequestsReceived(user.id)" (click)="acceptFriendRequest(user.id)">Aceptar petición</button>
                                <button class="btn btn-sm btn-warning mr-1"
                                *ngIf="user.id != id && IsInMyRequestsSent(user.id)" (click)="cancelRequest(user.id)">Cancelar petición</button>
                            </div>

                            <button class="btn btn-sm btn-danger mr-1" *ngIf="IsUserMyFriend(user.id)"
                                (click)="deleteFriend(user.id)">Eliminar amigo</button>

                            <button class="btn btn-sm btn-info mr-3" [routerLink]="['/profile/' + user.id]">Ver
                                perfil</button>

                        </div>
                    </div>
                </li>
            </ul>

        </div>
    </div>
</div>