.container-fluid{
    height: 100%;
}

.img-profile{
    width: 45px;
    height: 45px;
    border-radius: 180%;
}

thead{
    background-color: rgba(0,0,0,0.6) !important;
}

table{
    background-color: rgba(0,0,0,0.3) !important;
}

.btn-mostrar{
    background-color: #00ffea !important;
}

hr{
    opacity: 0;
}

.star {
    position: relative;
    display: inline-block;
    font-size: 1.5rem;
    color: white;
}
.full {
    color: yellow;
}
.half {
    position: absolute;
    display: inline-block;
    overflow: hidden;
    color: yellow;
}