<div class="container-fluid" *ngIf="events">

  <div class="row mt-4 mb-4">

    <div class="col-md-10">
      <div class="form-row">
        <div class="form-group col-md-2">
          <label>Deporte </label>
          <input type="text" [(ngModel)]="sport" id="sport" name="sport" class="form-control" placeholder="Nombre">
        </div>
        <div class="form-group col-md-2">
          <label>Dirección </label>
          <input type="text" [(ngModel)]="address" id="address" name="address" class="form-control" placeholder="Direccion">
        </div>
        <div class="form-group col-md-2">
          <label>Fecha </label>
          <input type="date" [(ngModel)]="startDate" id="startDate" name="startDate" class="form-control">
        </div>
        <div class="form-group col-md-2">
          <label>Hora </label>
          <input type="time" [(ngModel)]="time" id="time" name="time" class="form-control">
        </div>
        <div class="form-group col-md-2 text-center">
          <label>Reputación </label>
          <div class="text-center">

            <ng-template #t let-fill="fill">
              <span class="star" [class.full]="fill === 100">
                <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
              </span>
            </ng-template>

            <ngb-rating [max]="5" [(rate)]="score" [readonly]="false" [starTemplate]="t"></ngb-rating>

          </div>

        </div>
        <div class="form-group col-md-2">
          <hr />
          <button class="btn btn-primary" (click)="buscar()">Buscar</button>
          <button class="btn btn-secondary ml-2" (click)="limpiar()">Limpiar</button>
        </div>
      </div>
    </div>

    <div class="col-md-2">
      <hr />
      <button class="btn btn-primary float-right" routerLink="/eventform">Crear nuevo</button>
    </div>
    <!-- END COLUMN -->
  </div>
  <!-- END ROW -->

  <div class="row">
    <div class="col table-responsive table-borderless">
      <table class="table table-hover">
        <thead class="thead">
          <tr>
            <th scope="col" style="width: 15%">Creador</th>
            <th scope="col" style="width: 10%">Deporte</th>
            <th scope="col" style="width: 15%">Localización</th>
            <th scope="col" style="width: 15%">Fecha y Hora</th>
            <th scope="col" style="width: 10%">Precio</th>
            <th scope="col" style="width: 10%">Participantes</th>
            <th scope="col" style="width: 8%"></th>
            <th scope="col" style="width: 12%"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let evento of events">
            <td>
              <div class="row">
                <div class="col-lg-3">
                  <img class="img-profile" [src]="evento.organizer.picture" *ngIf="evento.organizer.picture" />
                  <img src="../../../assets/images/95x95.png" *ngIf="!evento.organizer.picture" class="img-profile">
                </div>
                <div class="col-lg-6 ml-2">
                  {{evento.organizer.firstName}}
                </div>
              </div>
            </td>
            <td>{{evento.sport | uppercase}}</td>
            <td>{{evento.address | uppercase}}</td>
            <td>{{evento.startDate | date : 'dd-MM-yyyy'}} {{ evento.time }}</td>
            <td>{{evento.price | currency:'EUR'}}</td>
            <td>
              <div *ngIf="eventIsFull(evento)" class="text-danger"><span
                  class="badge badge-danger badge-pill">Lleno</span></div>
              <div *ngIf="!eventIsFull(evento)">{{evento.participants.length}}</div>
            </td>
            <th><button class="btn btn-mostrar btn-sm" (click)="navigateToEvent(evento.id)">Mostrar</button></th>
            <th>

              <div *ngIf="id != evento.organizer.id">
                <button class="btn btn-secondary btn-sm" *ngIf="!cumplesLosRequisitos(evento.id) &&!isInEventsJoined(evento.id)" disabled>No cumples
                  los requisitos</button>
                <button class="btn btn-warning btn-sm" *ngIf="isInEventsApplied(evento.id)"
                  (click)="cancelRequest(evento.id)">Cancelar solicitud</button>
                <button class="btn btn-danger btn-sm" *ngIf="isInEventsJoined(evento.id)"
                  (click)="leave(evento.id)">Abandonar</button>
                <button class="btn btn-success btn-sm"
                  *ngIf="!isInEventsJoined(evento.id) && !eventIsFull(evento) && !isInEventsApplied(evento.id) && cumplesLosRequisitos(evento.id)"
                  (click)="joinToEvent(evento)">Unirse</button>
              </div>

              <button class="btn btn-danger btn-sm" *ngIf="id == evento.organizer.id"
                (click)="deleteEvent(evento)">Eliminar</button>

            </th>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- END COLUMN -->
  </div>
  <!-- END ROW -->

  <div class="row">
    <div class="col-12">
      <nav *ngIf="numbers">
        <ul class="pagination justify-content-center" *ngFor="let number of numbers">
          <li class="page-item"><a class="page-link">{{number}}</a></li>
        </ul>
      </nav>
    </div>
    
  </div>
</div>

