<div class="container-fluid" *ngIf="events">

  <div class="row mt-4 mb-4">

    <div class="col-10">
      <div class="form-row">
        <div class="form-group col-2">
          <label>Deporte </label>
          <input type="text" [(ngModel)]="sport" name="sport" class="form-control" placeholder="Nombre">
        </div>
        <div class="form-group col-2">
          <label>Dirección </label>
          <input type="text" [(ngModel)]="address" name="address" class="form-control" placeholder="Direccion">
        </div>
        <div class="form-group col-2">
          <label>Fecha </label>
          <input type="date" [(ngModel)]="startDate" name="startDate" class="form-control">
        </div>
        <div class="form-group col-2">
          <label>Hora </label>
          <input type="time" [(ngModel)]="time" name="time" class="form-control">
        </div>
        <div class="form-group col-2 text-center">
          <label>Reputación </label>
          <div class="text-center">
            <span class="fa fa-star unchecked" id="one"></span>
            <span class="fa fa-star unchecked" id="two"></span>
            <span class="fa fa-star unchecked" id="three"></span>
            <span class="fa fa-star unchecked" id="four"></span>
            <span class="fa fa-star unchecked" id="five"></span>                  
        </div>
        </div>
        <div class="form-group col-2">
          <hr />
          <button class="btn btn-primary" (click)="buscar()">Buscar</button>
          <button class="btn btn-secondary ml-2" (click)="limpiar()">Limpiar</button>
        </div>
      </div>
    </div>

    <div class="col-2">
      <hr />
      <button class="btn btn-primary float-right" routerLink="/eventform">Crear nuevo</button>
    </div>
    <!-- END COLUMN -->
  </div>
  <!-- END ROW -->

  <div class="row">
    <div class="col table-responsive table-borderless">
      <table class="table table-hover">
        <thead class="thead">
          <tr>
            <th scope="col" style="width: 15%">Creador</th>
            <th scope="col" style="width: 10%">Deporte</th>
            <th scope="col" style="width: 15%">Localización</th>
            <th scope="col" style="width: 15%">Fecha y Hora</th>
            <th scope="col" style="width: 10%">Precio</th>
            <th scope="col" style="width: 10%">Participantes</th>
            <th scope="col" style="width: 8%"></th>
            <th scope="col" style="width: 12%"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let evento of events">
            <td>
              <div class="row">
                <div class="col-lg-3">
                  <img class="img-profile" [src]="getUserPicture(evento.organizer.picture)" />
                </div>
                <div class="col-lg-6 ml-2">
                  {{evento.organizer.firstName}}
                </div>
              </div>
            </td>
            <td>{{evento.sport | uppercase}}</td>
            <td>{{evento.address | uppercase}}</td>
            <td>{{evento.startDate | date : 'dd-MM-yyyy'}} {{ evento.time }}</td>
            <td>{{evento.price | currency:'EUR'}}</td>
            <td>
              <div *ngIf="eventIsFull(evento)" class="text-danger"><span class="badge badge-danger badge-pill">Lleno</span></div>
              <div *ngIf="!eventIsFull(evento)">{{evento.participants.length}}</div>
            </td>  
            <th><button class="btn btn-mostrar btn-sm" (click)="getEvent(evento.id)">Mostrar</button></th>
            <th>

              <button class="btn btn-danger btn-sm" *ngIf="id == evento.organizer.id"
                (click)="deleteEvent(evento)">Eliminar</button>
              <button class="btn btn-secondary btn-sm" *ngIf="id != evento.organizer.id && !cumplesLosRequisitos(evento.id)" disabled>No cumples los requisitos</button>
              <button class="btn btn-warning btn-sm" *ngIf="id != evento.organizer.id && isInEventsApplied(evento.id)" 
                (click)="cancelRequest(evento.id)">Cancelar solicitud</button>
              <button class="btn btn-danger btn-sm" *ngIf="id != evento.organizer.id && isInEventsJoined(evento.id)"
                (click)="leave(evento.id)">Abandonar</button>
              <button class="btn btn-success btn-sm" *ngIf="id != evento.organizer.id && !isInEventsJoined(evento.id) && !eventIsFull(evento) && !isInEventsApplied(evento.id) && cumplesLosRequisitos(evento.id)"
                (click)="joinToEvent(evento)">Unirse</button>
            </th>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- END COLUMN -->
  </div>
  <!-- END ROW -->
  <div class="row mt-4">
    <div class="col">
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1">Previous</a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item">
            <a class="page-link" href="#">Next</a>
          </li>
        </ul>
      </nav>
    </div>
    <!-- END COL-->
  </div>
  <!-- END ROW -->
</div>