.img-profile{
    width: 60px;
    height: 60px;
    border-radius: 180%;
}

.img-comment{
    width: 35px;
    height: 35px;
    border-radius: 180%;
}

.participante{
    float: left;
}

.column-participants, .column-organizer{    
    box-shadow: 0 0 2px black;
    border-radius: 2px;
    width: 100%;
    background-color: rgba(0,0,0,0.6);
}

.container-desc{
    box-shadow: 0 0 2px 1px rgba(35, 102, 114, 0.6);
    padding: 15px;
    border-radius: 2px;
    /*background-color: rgba(35, 102, 114, 0.6);*/
    background-color: rgba(255,255,255,0.2);
}

.titulo{
    font-weight: 600;
    color: black !important;
}

h2{
    font-family: 'Graduate', cursive;   
    font-weight: bolder;
    color: white;
    text-shadow: 2px 2px 4px black;
    border-radius: 2px;
    padding: 4px;
}

h4{
    padding: 4px;
}

.show-participants{
    cursor: pointer;
    color: #00ffea;
}

.modal-content{
    background-color: rgba(0, 0, 0, 0.85);
}

.card-participant{
    background-color: rgba(11, 53, 74, 0.5);
}

ngb-rating{
    font-size: 1.5rem;
}

.btn-puntuar{
    background-color: #00ffea;
}

.card-comment{
    background-color: rgba(0,0,0,0.0);
}

.card-header{
    
    background-color: rgba(0, 0, 0, 0.85);
    color: #00ffea;
}

.body-comment, .mensaje-comment{
    background-color: rgba(0, 0, 0, 0.5);
}

.mensaje-comment{
    padding: 8px;
}

.participante:hover, .organizer-col:hover{
    cursor: pointer;
    text-shadow: 0 0 2px white;
}

.name-participant:hover{
    cursor: pointer;
    color: #00ffea;
}
