.img-profile{
    width: 60px;
    height: 60px;
    border-radius: 180%;
}

.participante{
    float: left;
}

.column-participants{    
    box-shadow: 0 0 2px black;
    border-radius: 2px;
    width: 100%;
    background-color: rgba(0,0,0,0.6);
}

.container-desc{
    box-shadow: 0 0 2px 1px black;
    padding: 15px;
    border-radius: 2px;
    background-color: rgba(35, 102, 114, 0.6);
}

.titulo{
    color: black;
}

h2{
    font-weight: bolder;
    color: black;
}

h4{
    padding: 4px;
}
