.img-profile{
    width: 60px;
    height: 60px;
    border-radius: 180%;
}

.participante{
    float: left;
}

.column-participants{    
    border-radius: 4px;
    width: 100%;
    background-color: rgba(0,0,0,0.3);
}

.container-desc{
    padding: 15px;
    border-radius: 4px;
    background-color: rgba(63, 139, 158, 0.3);
}

.titulo{
    color: black;
}

h2{
    border-radius: 4px;
    background-color: rgba(0,0,0,0.8);
}

h4{
    padding: 4px;
}